
body {
    margin: 0 auto;
    background-color: rgb(233, 233, 233) ;

}

.container {
    display: flex;
    align-items: stretch;
    height: 100vh;
}

.img-container {
    flex: 1;
}

.box2 {
    background-color: rgb(233, 233, 233) ;
    width: 100vh;
    flex: 2;
}

#planta {
    width: auto;
    height: 120vh;
    width: 33.33vw;
}

.form-container {
    background-color: white;
    display: flex;
    padding-bottom: 4%;
    box-shadow:  5px 5px 5px rgb(148, 146, 146);
}

.hero {
    display: flex;
    font-size: 10px;
    margin: 5vh;
    text-align: left;
}

form {
    text-align: left;
    margin: 5vh;
}

.sign-up {
    margin: 6vh;
}

#btn-sign{
    background-color:#596D48;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(148, 146, 146);
    color: white;
}

#btn-sign:hover{
    background-color: rgb(110, 136, 110);
    color: white;
    cursor: pointer;
}

.sign-up p {
    font-size: 12px;
    padding-top: 20px;
}

.transparente {
    position: absolute;
    background-color: rgba(19, 18, 18, 0.5);
    display: flex;    
    justify-content: center;
    width: 33.33vw;
    margin-top: 10%;
    /* padding-bottom: 11px; */
    height: 12vh;
}

input {
    margin-bottom: 10px;
}

#odin-img {
    height: 8vh;
    margin: 2vh;
}

.transparente p {
    color: rgb(196, 193, 193);
    font-size: 35px;
    align-self: center;
    margin-left: 10px;
}

.form1 h1, 
.form2 h1 {
    font-size: 24px;
}

.form2 h1 {
    color: white;
}